@import "../../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Gugi");

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

.btn-app {
  background-color: rgba(96, 125, 139, 0.8) !important;
  border-color: rgba(96, 125, 139, 0.8) !important;
  color: #fff !important;
  text-decoration: none !important;
}

.btn-app:hover {
  background-color: rgba(96, 125, 139, 1) !important;
  border-color: rgba(96, 125, 139, 1) !important;
}

.indicator {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 200px;
}

.navbar-brand {
  font-family: "Gugi", cursive;
  font-size: 50px;
  font-weight: 600;
  color: #2196f3 !important;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 1em;
}

.navbar-brand > label {
  font-size: 20px;
  line-height: 1em;
  vertical-align: middle;
  color: #a2b3bb;
}

.navbar-brand label span {
  color: #39515d;
}

.card-body {
  padding: 1rem !important;
}

.board-item {
  background-color: rgba(96, 125, 139, 0.2) !important;
  font-size: 13px;
}

.tasklist-item {
  min-height: 50px;
  // border-bottom: 0.01rem solid rgba(0, 0, 0, 0.9);
  font-size: 13px;
  background-color: rgba(255, 255, 255, 0.85);
  cursor: grab;
}

.tasklist-item:hover div.edit-icon {
  display: block;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Task List Item */

.heading-text {
  font-size: 1.4rem !important;
}

.heading {
  padding: 15px 0 5px 0;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Gugi", cursive;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-transform: uppercase;
  cursor: grab;
}

.cards-list {
  min-height: 300px;
  // height: 100vh;
  overflow: auto;
  box-shadow: 1px 1px 1px 0px rgba(158, 158, 158, 0.25);
  background-color: rgba(223, 238, 242, 0.4);
}

.card {
  border-radius: 10px !important;
  margin: 15px 5px !important;
}
.fixed-card {
  cursor: pointer;
  border: 1px dotted #ccc;
  border-radius: 10px;
  margin: 10px 5px;
  background-color: #198c9c54;
  color: black;
}

.list-column {
  padding: 0 !important;
  margin: 0 15px;
}

.list-width {
  min-width: 550px;
  max-width: 550px;
  border-radius: 10px;
}

.ghost {
  opacity: 0.5;
  background-color: rgba(223, 238, 242, 0.4);
}

.title-font{
  font-weight: 900;
  font-size: 1.5em;
  border-bottom: solid 1px;
  padding-bottom: 10px;
}

.display-flex{
  display: flex;
}
.post-it{
  display:flex;
}

.post-it .task-kind{
  margin-top: 20px;
}

.task-workload{
  background-color: #23221bde;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top: 20%;
  margin-right: 20px;
  font-size: 0.8em;
  color: whitesmoke;
}

.post-it ul{
  list-style-type:none;
  margin-top: 10px;
}

.post-it-color{
  background-color: #ffff5b7a;
}

.new-post-it{
  color:#09009a;
  font-size: 1.2em;
}

.post-it-data{
  font-size: 1.3em;
  padding-left: 10px;
}

.delayed{
  display:flex;
  border-top: solid 1px gainsboro;
}

.delayed .delaytitle{
  font-size:0.8em;
  color: red;
}

.delayed .pastille-red{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  margin: 15px 5px;
}

.delayed .pastille-add{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  border: solid 2px black;
  margin: 15px 5px;
  display: table;

  text-align: center;
}

.delayed .pastille-add span{

  display: table-cell;
  vertical-align: middle;
  font-size: 30px;
  font-weight: bolder;
  cursor: pointer;
}

.remove-input-border input{
  border-style: none;
}

.project-title-side{
  font-size: 4em;
  font-weight: 900;
  color: #046315;
  margin-left: 15px;
  padding: 10px 20px 10px 5px;
  // background-color: #007bff40;
  text-shadow: #707680 2px 3px 5px, #7ce41a 2px 3px 4px;
  // writing-mode: vertical-rl;
  // text-orientation: mixed;
}

.project-issues {
  margin-top: 2em;
  // border: solid 1px red;
}

.display-none{
  display:none;
}
